 .column {
    float: left;
    width: 33.33%;
    padding: 6%;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display:grid;
  } 
  h1{
    
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-transform: uppercase;
     background-image: linear-gradient(
       -225deg,
       #6e0404 25%,
       #080109 39%,
       #6e0404 45%,
       #184102 50%
     );
     background-size: auto auto;
     background-clip: border-box;
     background-size: 300% auto;
     color: #fff;
     background-clip: text;
     /* text-fill-color: transparent; */
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 7s linear infinite;
     display: inline-block;
         font-size: 750%;
    margin-left: 12%;
         
         
         
   }
   
   @keyframes textclip {
     to {
       background-position: 200% center;
     }
   }
   #main{
    text-align: center;
    margin-left: 15%;
    padding-right: 17%;
   }
  
  .bird{
    text-align:center;
    margin-left: 8%;
    margin-right: 3%;
    
  }
  .content{
    
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 3%;
    margin: -1% 0% 0% 0%;
    /* background: ; */
    
  }
  #p1:hover{
    transform: scale(1.2);
    z-index: 2;
    border-radius: 20%;
    transition: 0.3s;
  }
  #p2:hover{
    transform: scale(1.2);
    z-index: 2;
    border-radius: 20%;
    transition: 0.3s;
  }
  #p3:hover{
    transform: scale(1.2);
    z-index: 2;
    border-radius: 20%;
    transition: 0.3s;
  }
  #p4:hover{
    transform: scale(1.2);
    z-index: 2;
    border-radius: 20%;
    transition: 0.3s;
  }
  #p5:hover{
    transform: scale(1.2);
    z-index: 2;
    border-radius: 20%;
    transition: 0.3s;
  }
  #p6:hover{
    transform: scale(1.2);
    z-index: 2;
    border-radius: 20%;
    transition: 0.3s;
  }
  #p7:hover{
    transform: scale(1.2);
    z-index: 2;
    border-radius: 20%;
    transition: 0.3s;
  }
  #p8:hover{
    transform: scale(1.2);
    z-index: 2;
    border-radius: 20%;
    transition: 0.3s;
  }
  p{
    font-family:cursive;
    font-size: 18px;
  }
  html{
    background-repeat: repeat;
    background:linear-gradient(120deg,rgb(157, 107, 7),rgb(3, 90, 2));
    scroll-behavior: smooth;
    
  }
  h2{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    cursor: pointer;
    
  }
  h2::after{
   content:"" ;
   position: absolute;
   bottom: -5px;
   height: 4px;
   width: 100%;
   left: 0;
   background-color: rgb(2, 63, 6);
   transition: 0.3s;
   transition-timing-function: ease-in-out;
   transform: scale(0);
  }
  h2:hover::after{
    transform: scale(1);
  }
  body{
    display: block;
    margin: 8px;
    background: fixed;
  }
  

   @media screen and (max-width:430px){
    .content{
      margin-bottom: -10%;
    }
    
  } 
  @media screen and (max-width:230px){
    
    .bird{
      margin: 0%;
      overflow: hidden;
    }
    body{
      
      background: fixed;
    }
    .bird{
      
      margin-right: 3%;
      
      }
    }
  
   

  
   
  
    
  
  